<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentfunction20220920215251.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fbac3043-3563-4f46-9dd3-69ac97168daf/resourcegroups/StorageFirst/providers/Microsoft.Web/sites/PaymentFunction20220920215251</ResourceId>
    <UserName>$PaymentFunction20220920215251</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentfunction20220920215251.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>